@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: radial-gradient(
    rgb(68 76 247 / 33%) 0.5px,
    rgb(247 247 255) 0.5px
  );
  background-size: 8px 8px;
}

button.A,
.btn.A,
button.A:hover,
.nav-pills .nav-link.active.A {
  background-color: #46139f;
}
button.B,
.btn.B,
button.B:hover,
.nav-pills .nav-link.active.B {
  background-color: #ff7f50;
}

.dataRow:nth-child(even) {
  background: rgba(217, 231, 252, 0.28);
}

.dataRow:nth-child(odd) {
  background: #fff;
}

.closeBtn,
.closeBtn:hover {
  border: 1px solid #46139f !important;
  color: #46139f !important;
}
.backdrop-2 {
  z-index: 1055;
}
